.py-field-control:disabled {
  cursor: not-allowed;
  opacity: var(--py-disabled-opacity);
}

.py-field[data-disabled] {
  opacity: var(--py-disabled-opacity);
}

.py-field[data-disabled] .py-field-control:disabled {
  opacity: 1;
}
